* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  line-height: 1.2em;
  border-radius: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: black; */
  background-image: linear-gradient(to top ,#00ccff  ,rgb(0, 102, 170) ,#00ccff);
}
.bg {
  padding: 10px;
  height: 100%;
}
.main {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  background-color: #eee;
  padding: 0 10px;
}
.main .infos {
  width: 100%;
}
.main .infos .info {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  box-shadow: 0px 0px 10px 5px #808080;
  font-size: 20px;
  background-color: #eee;
  text-align: center;
  color: #666;
  font-size: 14px;
  display: none;
}
.main .infos .info.hint {
  display: block;
  cursor: pointer;
  margin: auto;
  background-color: #007700;
  color: white;
  box-shadow: none;
}

.main p {
  padding: 10px;
  box-shadow: 0px 0px 10px 5px #808080;
  background-color: #eee;
  text-align: center;
  color: #aaa;
  width: 100%;
}
.main .quetion {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-wrap: wrap;
}
.main .letters-box {
  margin-top: 20px;
  text-align: center;
}

.main .letters-box span {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid blue;
  margin: 10px;
  box-shadow: 0px 0px 10px 5px #808080;
  background-color: #eee;
  width: 40%;
}
.removeBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  transition: all 0.3s;
}
.removeBtn:hover {
  padding: 7px 13px;
}
