* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  line-height: 1.2em;
  border-radius: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: black; */
  background-image: linear-gradient(to top, #00ccff, rgb(0, 102, 170), #00ccff);
}
.bg {
  padding: 10px;
  height: 100%;
  position: relative;
}
.main {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  background-color: #eee;
  padding: 0 10px;
}
.main .infos {
  width: 100%;
}
.main .infos .info,
.result-box .wrong-answers li,
.result-box .result {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  box-shadow: 0px 0px 10px 5px #808080;
  font-size: 20px;
  background-color: #eee;
  text-align: center;
  color: #666;
  font-size: 14px;
  display: none;
}
.main .infos .info.hint {
  display: block;
  cursor: pointer;
  margin: auto;
  background-color: #007700;
  color: white;
  box-shadow: none;
}

.main p {
  padding: 10px;
  box-shadow: 0px 0px 10px 5px #808080;
  background-color: #eee;
  text-align: center;
  color: #aaa;
  width: 100%;
}
.main .quetion {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-wrap: wrap;
}
.main .letters-box {
  margin-top: 20px;
  text-align: center;
}

.main .letters-box span {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid blue;
  margin: 10px;
  box-shadow: 0px 0px 10px 5px #808080;
  background-color: #eee;
  width: 40%;
}
.result-box {
  width: 400px;
  height: 0px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #eee;
  z-index: 12;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 10px;
  transition: height 1s;
}
.result-box .wrong-answers li {
  display: block;
  line-height: 1.3em;
}

.result-box .wrong-answers li span {
  color: green;
}

.result-box .result {
  display: block;
  font-weight: 500;
  padding: 10px;
  background-color: #007700;
  color: white;
}

.result-box .btns {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}
.result-box .btns button {
  width: 40%;
  padding: 10px;
  border: 1px solid red;
}
.result-box .btns button:hover {
  background-color: red;
  color: white;
}

@media (max-width: 410px) {
  .main {
    width: 99%;
  }
}
