@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  line-height: 1.2em;
  border-radius: 10px;
  font-family: 'Dancing Script', cursive;
  color: white;

}

body {
  height: 100vh;
}
.bg {
  width: 100%;
  height: 100%;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: green;
  border: 20px solid brown;
}
.main {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
.result-box .wrong-answers li,
.result-box .result {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  color: #666;
  font-size: 14px;
  display: none;
}


.main p {
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
}

.main .answer{
  color: #b2b2b2;
  background-color: #fff;
}
.main .quetion {
  font-weight: bold;
  font-size: 20px;
  text-wrap: wrap;
  position: relative;
}
.main .letters-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border :1px solid
}

.main .letters-box span {
  display: block;
  padding: 5px 7px;
  /* border: 1px solid blue; */
  width: 40%;
  text-align: center;
}
.result-box {
  width: 50%;;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #eee;
  z-index: 12;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 10px;
  transition: height 1s;
  transform: translate(-50%,-50%);
}

.result-box .result {
  display: block;
  font-weight: 500;
  padding: 10px;
  background-color: #007700;
  color: white;
}

.result-box .btns {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}
.result-box .btns button {
  width: 40%;
  padding: 10px;
  border: 1px solid red;
}
.result-box .btns button:hover {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.quetion::after{
  content: "";
  width: 5%;
  height: 100%;
  border-right:2px solid red ;
  position: absolute;
  top: 0%;
  left:-10%;
  transition: all 1s;
}

.quetion.active::after {
  width: 100%;
  height: 100%;
  background-color: #007700;
  position: absolute;
  top: 0%;
  left: 0%
}
@media (max-width: 410px) {
  .main {
    width: 99%;
  }
}
